<div
    class="fire-select-box"
    :class="{
        'multiple': multiple,
    }"
    @click="open()"
>
    <ul class="fire-selected-list">
        <li class="fire-selected-item empty" v-show="selected.length == 0">{{ placeholder }}</li>
        <li class="fire-selected-item"
            :class="{
                'animated': animation
            }"
            :transition="animation ? 'bounce' : ''"
            v-for="option in selected"
            @click.stop="open()"
        >
            {{ option.label }}
            <b @click.stop="deselect(option)">&times;</b>
        </li>
    </ul>

    <ul class="fire-select-list" v-show="isOpen">
        <li class="fire-select-item-input">
            <input
                type="text"
                class="fire-select-input"
                :placeholder="helperMessage"
                v-model="input"
                v-el:input
                @keyup.enter="index === null || index == -1 ? newOption() : select(index)"
                @keydown.esc="close()"
                @keydown.up.prevent="up()"
                @keydown.down.prevent="down()"
                @blur="close() | debounce 100"
            >
        </li>

        <li class="fire-select-item"
            v-if="input && create"
            @click="newOption()"
            :class="{
                'hover': index == -1,
            }"
        >
            {{ addLabel }} <b>{{ input }}</b>
        </li>

        <li class="fire-select-item" v-if="tips.length == 0 && ! create">
            {{ noResultsLabel }} <b>{{ input }}</b>
        </li>

        <li
            class="fire-select-item"
            v-for="option in tips"
            @click.stop="select(option)"
            @mouseover="index = null"
            :class="{
                'hover': $index == index,
            }"
        >
            {{{ option.label | highlight }}}
        </li>
    </ul>

    <select :name="name" :id="id" multiple style="display: none;">
        <option :value="option.value" selected v-for="option in selected">{{ option.label }}</option>
    </select>
</div>