
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 16px;">
			Copyright &copy; 2016 <a href="http://khurafatstudio.com/" target="_blank">Khurafat Studio</a>. All rights reserved. <!-- - <a v-link="{ path: '/terms'}">Terms Of Service</a> -->
			<!-- Made with <i class="fa fa-2x fa-heart"></i> by <a href="#">Mandeep Singh</a> & <a href="#">Piyush Agrawal</a> -->
		</div>
		<!-- Social Icons -->
		<div class="pull-right footer-social-icons">
			<a href="http://facebook.com/{{ links.facebook }}">
				<i class="fa fa-btn fa-facebook-square"></i>
			</a>
			<a href="http://twitter.com/{{ links.twitter }}">
				<i class="fa fa-btn fa-twitter-square"></i>
			</a>
			<a href="http://github.com/{{ links.github }}">
				<i class="fa fa-github-square"></i>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
