
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 22px;font-size: 16px;">
			Made by <a href="http://laratisans.com/" target="_blank">Laravel Artisans</a>. <!-- - <a v-link="{ path: '/terms'}">Terms Of Service</a> -->
			<!-- Made with <i class="fa fa-2x fa-heart"></i> by <a href="#">Mandeep Singh</a> & <a href="#">Piyush Agrawal</a> -->
		</div>

		<div class="pull-right" style="padding-top: 18px">
			<a href="https://github.com/Laratisans" target="_blank" style="font-size: 18px;color: #777;">
				View on Github <i class="fa fa-github" style="font-size: 23px;position: relative;bottom: -1px;"></i>
			</a>
		</div>
		<!-- Social Icons -->
		<!-- <div class="pull-right footer-social-icons">
			<a href="http://facebook.com/{{ links.facebook }}">
				<i class="fa fa-btn fa-facebook-square"></i>
			</a>
			<a href="http://twitter.com/{{ links.twitter }}">
				<i class="fa fa-btn fa-twitter-square"></i>
			</a>
			<a href="http://github.com/{{ links.github }}">
				<i class="fa fa-github-square"></i>
			</a>
		</div> -->
		<div class="clearfix"></div>
	</div>
</footer>


