
<footer class="footer">
	<div class="container" style="color: #777;">
		<!-- Company Information -->
		<div class="pull-left" style="padding-top: 22px;font-size: 16px;">
			Made by <a href="http://laratisans.com/" target="_blank">Laravel Artisans</a>. <!-- - <a v-link="{ path: '/terms'}">Terms Of Service</a> -->
			<!-- Made with <i class="fa fa-2x fa-heart"></i> by <a href="#">Mandeep Singh</a> & <a href="#">Piyush Agrawal</a> -->
		</div>

		<div class="pull-right" style="padding-top: 18px">
			<a href="https://github.com/Laratisans" target="_blank" style="font-size: 18px;color: #777;">
				View on Github <i class="fa fa-github" style="font-size: 23px;position: relative;bottom: -1px;"></i>
			</a>
		</div>
		<!-- Social Icons -->
		<!-- <div class="pull-right footer-social-icons">
			<a href="http://facebook.com/{{ links.facebook }}">
				<i class="fa fa-btn fa-facebook-square"></i>
			</a>
			<a href="http://twitter.com/{{ links.twitter }}">
				<i class="fa fa-btn fa-twitter-square"></i>
			</a>
			<a href="http://github.com/{{ links.github }}">
				<i class="fa fa-github-square"></i>
			</a>
		</div> -->
		<div class="clearfix"></div>
	</div>
</footer>


<script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiJGNjcyODAiLCJjdXN0b21Db2xvciI6ZmFsc2UsImljb24iOiJidWJibGUiLCJwcm9ub3VuIjoidXMiLCJsYW5ndWFnZSI6ImVuIiwiYnJhbmRlZCI6ZmFsc2UsImludHJvVGV4dCI6Ik5lZWQgaGVscCB3aXRoIExBUkFHSVNUIG9yIHdhbnQgdG8ga25vdyBtb3JlIGFib3V0IExBUkFUSVNBTlM/IEdldCBpbiBjb250YWN0ISIsImNoYW5uZWxzIjpbWyJ0d2l0dGVyIiwiTGFyYXRpc2FucyIsInNvY2lhbCJdLFsic2xhY2siLCJsYXJhdGlzYW5zIiwic29jaWFsIl0sWyJmYWNlYm9vayIsIkxhcmF0aXNhbnMiLCJzb2NpYWwiXSxbImdpdGh1YiIsImh0dHBzOi8vZ2l0aHViLmNvbS9MYXJhdGlzYW5zIiwic29jaWFsIl0sWyJlbWFpbCIsImhlbGxvQGxhcmF0aXNhbnMuY29tIiwiY2xhc3NpYyJdXX0='></script>
