
<!-- Navigation -->
<header class="top-bar navbar">
    <div class="container" style="padding: 4px;">
        <a v-link="{path: '/'}" class="">
            <img class="logo" src="../../images/logo2.png" alt="Laragist" width="160px">
        </a>
        <nav class="pull-right">
            <ul>
                <li><a v-link="{path: '/'}"> Browse Packages</a></li>
                <li><a v-link="{path: '/submit'}"> Submit A Package</a></li>
                <li><a v-link="{path: '/about'}"> About</a></li>
            </ul>
        </nav>
    </div>
</header>


