<!-- Navigation -->
	<header class="top-bar navbar">
	    <div class="container" style="padding: 4px;">
	        <a v-link="{path: '/home'}" class="">
	            <img class="logo" src="../../images/logo2.png" alt="Laragist" width="160px">
	        </a>
	        <nav class="pull-right">
	            <ul>
	                <li><a v-link="{path: '/home'}">Home</a></li>
	                <li><a v-link="{path: '/about'}">About</a></li>
	                <li><a v-link="{path: '/submit'}">Submit Package</a></li>
	                <li><a href="#">Khurafat</a></li>
	            </ul>
	        </nav>
	    </div>
	</header>


