<nav-component></nav-component>

    <div class="about">

        <section class="welcome">
        	<div class="container">
        		<h2> About Us</h2>
        	</div>
        </section>

        <section class="container content">	
            <div class="block">
        	    <div class="col-md-10 col-md-offset-1">
                    <p>
                        We are Khurafati's who love to make some amazing products and help the community to do our part and give something back to it. This is our first product under the new umbrella of Khurafat Studio which is going to be a community of developers who wants to give something back with their skills and create things that millions might use.
                    </p>
                    <p>
                        Although, we are very passionated to build this product and many others but we certainly can use more hands and maybe more experienced hands to help us out and be a part of a team that might be off to something. Just reach out at <a href="mailto:hello@khurafatstudio.com" style="color: #EC4C4F">hello@khurafatstudio.com</a> to get in.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="makers">
                <h3 class="text-center">Khurafati Makers</h3>
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">

                        <div class="block maker text-center">
                            <div class="avatar">
                                <img src="/images/makers/mandeep.png">
                            </div>
                            <h4>Mandeep Singh</h4>
                            <ul class="list-inline social">
                                <li><a target="_blank" href="http://msingh.me"><i class="fa fa-link"></i></a></li>
                                <li><a target="_blank" href="https://github.com/meSingh"><i class="fa fa-github"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/meSingh9"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="mailto:im@msingh.me"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="block maker text-center">
                            <div class="avatar">
                                <img src="/images/makers/piyush.png">
                            </div>
                            <h4>Piyush Agrawal</h4>
                            <ul class="list-inline social">
                                <li><a target="_blank" href="#"><i class="fa fa-link"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

<footer-component></footer-component>
