<nav-component></nav-component>

    <div class="about">

        <section class="welcome">
        	<div class="container">
        		<h2> About Us</h2>
        	</div>
        </section>

        <section class="container content">	
            <div class="block">
        	    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="makers">
                <h3 class="text-center">Khurafati Makers</h3>
                
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">

                        <div class="block maker text-center">
                            <div class="avatar">
                                <img src="/images/makers/mandeep.png">
                            </div>
                            <h4>Mandeep Singh</h4>
                            <ul class="list-inline social">
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="block maker text-center">
                            <div class="avatar">
                                <img src="/images/makers/piyush.png">
                            </div>
                            <h4>Piyush Agrawal</h4>
                            <ul class="list-inline social">
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

<footer-component></footer-component>
