<nav-component></nav-component>

	<section class="welcome">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<img src="/images/laravel.png" style="width: 100%;">
				</div>
				<div class="col-md-8">
					<h2>A handpicked selection of top Laravel packages</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="packages">
		<div class="container">
			<div class="row">

			    <div class="package" v-for="gist in gists">
		            <div class="info">
		                <h3><a href="{{gist.link}}">{{gist.name}}</a></h3>
		                <p>{{gist.description}}</p>
		                <div class="meta-info">
		                	<ul class="list-inline">
		                		<li v-for="cat in gist.categories">{{cat.name}}</li>
		                	</ul>
		                </div>
		            </div>
		            <div class="meta">
		            	<ul class="list-unstyled">
		            		<li>
		            			<i class="fa fa-fw fa-download"></i>&nbsp; 
		            			<span>{{ gist.downloads_total }}</span>
		            		</li>
		            		<li>
		            			<i class="fa fa-fw fa-heart-o"></i>&nbsp; 
		            			<span>{{ gist.favorites }}</span>
		            		</li>
		            		<li>
		            			<i class="fa fa-fw fa-code"></i>&nbsp; 
		            			<span>{{ gist.version }}</span>
		            		</li>
		            		<li>
		            			<i class="fa fa-fw fa-clock-o"></i>&nbsp; 
		            			<span>{{ gist.last_updated }}</span>
		            		</li>
		            	</ul>
		            </div>
			    </div>

			</div>
		</div>



	</section>




	<!-- Tab Panes -->
	<div class="col-md-9">
		<div class="tab-content">
			<div class="tab-pane">
				<div class="panel panel-default">
					<router-view></router-view>
				</div>
			</div><!-- End tab panel -->
		</div><!-- End tab content -->
	</div><!-- End tab panes col-md-9 -->
</div><!-- End container -->
<footer-component></footer-component>
