<nav-component></nav-component>
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="/images/packagist.png" style="width: 70%;margin-left: 15%;">
            </div>
            <div class="col-md-8">
                <h2>Search <b>Packagist.org</b> for laravel packages and submit them to us.</h2>
                <input type="text" id="searchInput" v-model="q" v-on:keyup="search()" class="form-control input-lg" placeholder="Search for..." style="margin-top: 30px;">
            </div>
        </div>
    </div>
</section>
<div class="main-container">
    <section class="packages" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3 id="brand-title" v-if="!q">Latest submitted packages by our community</h3>
                    <h3 id="brand-title" v-if="q">Search results for: <span>{{ q | capitalize }}</span></h3>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <div class="col-sm-12 text-center">
                    <br/>
                    <div class="alert alert-danger" v-show="notFound">Nothing found! Please try searching with different keyword</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="package col-md-6" v-for="gist in gists">
                    <div class="wrapper submit-wrapper">
                        <div class="info">
                            <h3><a v-link="{ name: 'view', params: {user:author(gist.name), name: package(gist.name)}}">{{gist.name}}</a></h3>
                            <p>{{gist.description}}</p>
                        </div>
                        <div class="meta">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-fw fa-download"></i>&nbsp;
                                    <span>{{ gist.downloads }}</span>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-heart"></i>&nbsp;
                                    <span>{{ gist.favers }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="submit pull-right">
                            <a href="#" data-toggle="modal" v-on:click="selectGist(gist)" data-target="#submitModal"> Submit </a>
                        </div>
                        <!-- <div class="meta-info">
                            <p class="pull-right"><small>submitted by: Mandeep Singh</small></p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer-component></footer-component>
<div class="modal fade in" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit Package</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="modalError" v-show="error">
                    {{{error}}}
                </div>
                <div class="alert alert-success" id="modalSuccess" v-show="submitted">
                    Your submission has been saved and will be reviewed by our team.
                </div>
                <form class="form-horizontal" v-show="!submitted">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name</label>
                            <div class="col-md-6">
                                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" disabled="" required="" v-model="selectedGist.name">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group" v-bind:class="{'has-error': errors.first_name}">
                            <label class="col-md-4 control-label" for="first_name">First Name</label>
                            <div class="col-md-6">
                                <input id="first_name" name="first_name" type="text" placeholder="" class="form-control input-md" required="" v-model="selectedGist.first_name">
                                <span class="help-block" v-show="errors.first_name">{{ errors.first_name[0] }}</span>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group" v-bind:class="{'has-error': errors.email}">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-6">
                                <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="" v-model="selectedGist.email">
                                <span class="help-block" v-show="errors.email">{{ errors.email[0] }}</span>

                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group" v-bind:class="{'has-error': errors.category_id}">
                            <label class="col-md-4 control-label" for="category_id">Select Category</label>
                            <div class="col-md-6">
                                <select id="category_id" name="category_id" class="form-control" v-model="selectedGist.category_id">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                                <span class="help-block" v-show="errors.category_id">{{ errors.category_id[0] }}</span>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="submitPackage()" id="modalSubmit" v-show="!submitted">Submit</button>
            </div>
        </div>
    </div>
</div>
