<nav-component></nav-component>

<div class="support">
    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                	<i class="fa fa-life-ring" style="font-size: 150px; color:#fff"></i>
                </div>
                <div class="col-md-8">
                    <h2>Get support for laravel packages</h2>
                    <p>Enter your email to get notified when we launch & join our slack community.</p>
                    <form action="#" v-on:submit="sendEmail()">
                        <div class="input-group">
                            <input type="email" id="searchInput" v-model="subscriber.email" class="form-control input-lg" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-custom btn-lg" type="button">Subscribe!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="container content"> 
        <div class="block">

            <br><br>
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <h3>Get support from real authors of laravel packages!</h3>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: 4em;"><i class="fa fa-user-secret fa-4x"></i></h3>
                </div>
            </div>
            <br><br><hr><br>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <h3 style="font-size: 4em;"><i class="fa fa-users fa-4x"></i></h3>
                </div>
                <div class="col-md-5">
                    <h3>When they are not available, we will help you or someone from our community will!</h3>
                </div>
            </div>
            <br><br><hr><br>
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <h3>If no one is there you will be able to search our support threads to find an answer for your question.</h3>
                </div>
                <div class="col-md-3">
                    <h3 style="font-size: 4em;"><i class="fa fa-question-circle-o fa-4x"></i></h3>
                </div>
            </div>
            <br><br>
        </div>
    </section>

</div>

<footer-component></footer-component>
