<nav-component></nav-component>

<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
            	<i class="fa fa-life-ring" style="font-size: 150px; color:#fff"></i>
            </div>
            <div class="col-md-8">
                <h2>Support <b></b> for our laravel packages.</h2>
                <form action="#" v-on:submit="sendEmail()">
                    <input type="email" id="searchInput" v-model="subscriber.email" class="form-control input-lg" placeholder="Enter email" style="margin-top: 30px;">
                    <input type="text" id="searchInput" v-model="subscriber.firstName" class="form-control input-lg" placeholder="Enter Name" style="margin-top: 10px;">
                </form>
            </div>
        </div>
    </div>
</section>


<footer-component></footer-component>