
<nav-component></nav-component>
    
    <div class="package">

        <section class="welcome">
            <div class="container">
                <h2>
                    {{ gist.name }} 
                    <small class="latest">
                        <i class="fa fa-fw fa-code-fork"></i>
                        {{ gist.version }}
                    </small>
                </h2>
                <div class="cats">
                    <ul class="list-inline pull-right">
                        <li><i class="fa fa-fw fa-copyright"></i></li>
                        <li v-for="license in gist.licenses">{{license}}</li>
                    </ul>
                    <ul class="list-inline">
                        <li><i class="fa fa-fw fa-bars"></i></li>
                        <li v-for="cat in gist.categories">{{cat.name}}</li>
                    </ul>
                </div>
            </div>
        </section>

        <section style="padding-top: 30px;">
            <div class="container">

                <div class="row"> <!--  TOP ROW  -->
                    <div class="col-md-9">

                        <div class="install">
                            <i class="fa fa-fw fa-download"></i>
                            <code>composer require {{ gist.name }}</code>
                        </div>

                        <div class="description block">
                            <!-- <div class="page-header">
                                <h3>Description</h3>
                            </div> -->
                            <p>{{gist.description}}</p>

                            <ul class="list-inline tags">
                                <li><i class="fa fa-fw fa-tags"></i></li>
                                <li v-for="keyword in gist.keywords">#{{keyword}}</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-3 details">
                        <div class="block">
                            <table>
                                <tr>
                                    <td>Repo:</td>
                                    <td>
                                        <a href="{{ gist.repository }}" target="_blank">
                                            {{ gist.repository }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Homepage:</td>
                                    <td>
                                        <a href="{{ gist.homepage }}" target="_blank">
                                            {{ gist.homepage }}
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="list-inline authors">
                                <li v-for="author in gist.authors">
                                    <img src="//www.gravatar.com/avatar/{{ author.email_hash}}?s=100" alt="{{ author.name }}" title="{{ author.name }}">
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div> <!--  TOP ROW  -->


                <div class="row"> <!--  SECOND ROW  -->
                    <div class="col-md-9">

                        <div class="version block">

                            <h5>
                                {{ version.version }}
                                <span class="pull-right"> {{ version.time }} </span>
                            </h5>
                            
                            <hr>

                            <div class="row">
                                <div class="col-md-4">
                                    <h4>requires</h4><hr>
                                    <ul v-if="version.require">
                                        <li v-for="(package, number) in version.require">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>requires (dev)</h4><hr>
                                    <ul v-if="version.require_dev">
                                        <li v-for="(package, number) in version.require_dev">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>suggests</h4><hr>
                                    <ul v-if="version.suggest">
                                        <li v-for="(package, number) in version.suggest">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h4>provides</h4><hr>
                                    <ul v-if="version.provides">
                                        <li v-for="(package, number) in version.provides">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>conflicts</h4><hr>
                                    <ul v-if="version.conflicts">
                                        <li v-for="(package, number) in version.conflicts">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>replaces</h4><hr>
                                    <ul v-if="version.replaces">
                                        <li v-for="(package, number) in version.replaces">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            
                        </div><!--  version block  -->

                    </div>

                    <div class="col-md-3">
                        <div class="block version-selector">
                            <ul>
                                <li v-for="version in gist.versions">
                                    <a href="#">{{version.version}}</a>
                                </li>
                            </ul>
                            <div class="pull-over"><i class="fa fa-caret-down"></i></div>
                        </div>
                        
                    </div>
                </div> <!--  SECOND ROW  -->


                <!--  THIRD ROW  -->
                <div class="readme block">
                    {{{ readme }}}
                </div>
                <!--  THIRD ROW  -->
            </div>
        </section>

    <div class="clearfix"></div>
    <br><br>

    </div>

<footer-component></footer-component>
