
<nav-component></nav-component>

    <div class="package" vocab="http://schema.org/" typeof="SoftwareSourceCode">

        <section class="welcome">
            <div class="container">
                <h2 property="name">
                    {{ gist.name }}
                    <small class="latest">
                        <i class="fa fa-fw fa-code-fork"></i>
                        <span property="version"> {{ gist.version }} </span>
                    </small>
                </h2>
                <div class="cats">
                    <ul class="list-inline pull-right" v-show="selectedVersion.licenses[0]">
                        <li><i class="fa fa-fw fa-copyright"></i></li>
                        <li v-for="license in selectedVersion.licenses">{{license}}</li>
                    </ul>
                    <ul class="list-inline">
                        <li><i class="fa fa-fw fa-bars"></i></li>
                        <li v-for="cat in gist.categories">{{cat.name}}</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container">

                <div class="row"> <!--  TOP ROW  -->
                    <div class="col-md-8">

                        <div class="install">
                            <i class="fa fa-fw fa-download"></i>
                            <code>composer require {{ gist.name }}</code>
                        </div>

                        <div class="description block" v-show="gist.description">
                            <!-- <div class="page-header">
                                <h3>Description</h3>
                            </div> -->
                            <p property="description">{{gist.description}}</p>

                            <ul class="list-inline tags" v-show="gist.keywords[0]">
                                <li><i class="fa fa-fw fa-tags"></i></li>
                                <li v-for="keyword in gist.keywords" property="keywords">#{{keyword}}</li>
                            </ul>
                        </div>



                         <!--  THIRD ROW  -->
                        <div class="block">
                            <div class="readme" v-bind:class="{'readme-limit': !readmePulled}">
                            <div class="spinner" v-show="!readme.length">
                                <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                                </div>
                                {{{ readme }}}
                            </div>
                            <div class="pull-over" v-show="!readmePulled" v-on:click="readmePulled=1"><i class="fa fa-caret-down"></i></div>
                        </div>
                        <!--  THIRD ROW  -->

                    </div>
                    <div class="col-md-4 details">
                        <div class="block">

                            <template v-if="gist.authors.length > 1">
                                <ul class="list-inline authors">
                                    <li v-for="author in gist.authors">
                                        <img src="//www.gravatar.com/avatar/{{ author.email_hash}}?s=100" alt="{{ author.name }}" title="{{ author.name }}">
                                        <h4 property="author" >{{ author.name }}</h4>
                                    </li>
                                </ul>

                                <hr>

                                <div class="stats">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>
                                                <i class="fa fa-download"></i>
                                                {{ gist.downloads_total}}
                                            </h3>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>
                                                <i class="fa fa-heart"></i>
                                                <span>{{ gist.favorites }} </span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template  v-if="gist.authors.length == 1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-inline authors-alt">
                                            <li v-for="author in gist.authors" >
                                                <img src="//www.gravatar.com/avatar/{{ author.email_hash}}?s=120" alt="{{ author.name }}" title="{{ author.name }}">
                                                <h4 property="author" >{{ author.name }}</h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="stats-alt">
                                            <div class="box">
                                                <i class="fa fa-download"></i>
                                                <h3>{{ gist.downloads_total }}</h3>
                                            </div>
                                            <div class="box">
                                                <i class="fa fa-heart"></i>
                                                <h3>{{ gist.favorites }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <div class="btns btn-group btn-group-justified">
                                <a property="codeRepository" href="{{ gist.repository }}" target="_blank" class="btn btn-default repository">
                                    View Source
                                </a>
                                <a property="url" href="{{ gist.homepage }}" target="_blank" class="btn btn-default homepage">
                                    Visit Homepage
                                </a>
                            </div>

                        </div>


                        <!-- <div class="block" v-bind:class="{'version-selector' : versionsListPulled!=1}">
                            <ul>
                                <li v-for="version in gist.versions">
                                    <a href="#">{{version.version}}</a>
                                </li>
                            </ul>
                            <div class="pull-over" v-show="!versionsListPulled" v-on:click="versionsListPulled=1"><i class="fa fa-caret-down"></i></div>
                        </div> -->



                        <div class="version block">
                            <div class="spinner" v-show="!selectedVersion">
                                <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                                </div>
                            <div class="" v-bind:class="{'version-limit': !versionPulled}" v-show="selectedVersion">

                                <select id="versionsList"   >

                                </select>

                                <p>{{ selectedVersion.time }}</p>

                                <hr>

                                <div v-show="selectedVersion.require">

                                    <h4>requires</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.require">
                                            <a href="https://packagist.org/packages/{{ package }}" target="_blank">{{ package }}</a>: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="selectedVersion.require_dev">
                                    <h4>requires (dev)</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.require_dev">
                                            <a href="https://packagist.org/packages/{{ package }}" target="_blank">{{ package }}</a>: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="selectedVersion.suggest">
                                    <h4>suggests</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.suggest">
                                            <a href="https://packagist.org/packages/{{ package }}" target="_blank">{{ package }}</a>: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="selectedVersion.provides">
                                    <h4>provides</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.provides">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="selectedVersion.conflicts">
                                    <h4>conflicts</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.conflicts">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                                <div v-show="selectedVersion.replaces">
                                    <h4>replaces</h4>
                                    <ul>
                                        <li v-for="(package, number) in selectedVersion.replaces">
                                            {{ package }}: {{number}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-over" v-show="!versionPulled" v-on:click="versionPulled=1"><i class="fa fa-caret-down"></i></div>
                        </div><!--  version block  -->

                    </div>
                </div> <!--  SECOND ROW  -->



            </div>
        </section>

    </div>


<footer-component></footer-component>
