/*
 * Variables...
 */
 
$border-radius-base: 0;
$brand-primary: #2B5A84;
$active-icon-color: #6CC94D;
$btn-border-radius-base: 4px;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$navbar-height: 65px;

/*
 * Bootstrap CSS...
 */
 
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Elements
 */

@import "elements/buttons";
@import "elements/forms";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";
@import "style";
@import "app/home";
@import "app/package";
@import "app/about";
@import "app/support";
@import "responsive";

/**
 * Components
 */

@import "components/tabs";


@import "node_modules/selectize/dist/css/selectize";
@import "node_modules/selectize/dist/css/selectize.default";

