
.about {


    .welcome {
        padding: 30px 0;
        @include shadow();

        h2 {
            padding-left: 0;
            padding-right: 0;
            font-weight: bold;
        }
    }

    .content {
        padding-top: 30px;

        .block {
            background-color: #FFF;
            padding: 20px;
            border-radius: 2px;
            margin-bottom: 20px;
            @include shadow();

            .page-header {
                margin-top: 0;
            }
        }

        .makers {
            margin-bottom: 10px;

            h3 {
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .maker {
                padding: 20px 30px;
                @include shadow();
                
                .avatar {
                    border: 5px solid #F1F1F1;
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 22px;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .social {
                    margin: 0;
                }
            }
        }
    }
}
